:root {
  --branding-color: rgb(242, 201, 195);
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 24px;
  line-height: 2;
  font-family: var(--default-font-family);
  margin-bottom: 48px;
}
h4 {
  font-size: 26px;
  margin: 0;
}

p {
  line-height: 2;
}
nav {
  padding: 20px 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  display: inline;
}
li a {
  text-decoration: none;
  color: #272142;
  opacity: 70%;
  line-height: 40px;
  padding-left: 10px;
  transition: all 100ms ease-in-out;
}
footer {
  margin: 60px 0;
}
.hero {
  background: var(--secondary-color);
  padding: 160px 20px;
  text-align: center;
}
.btn-brand {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  line-height: 27px;
  padding: 15px 30px;
  font-size: 18px;
}
.btn-light {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  line-height: 27px;
  padding: 15px 30px;
  font-size: 18px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
  margin-bottom: 0;
}
.col h1 {
  font-size: 44px;
}
.text-wrapper {
  padding: 80px 60px;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-weight: bold;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.content p {
  font-size: 14px;
}
.logo {
  max-height: 40px;
}
.inquiry-box {
  padding: 30px 120px;
  border-radius: 10px;
  background: var(--secondary-color);
}
.btn-light:hover {
  border: 1px solid var(--branding-color);
}
.inquiry-box p {
  margin: 0;
}
.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  transition: all 100ms ease-in-out;
}
.social-link a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-link a:hover {
  color: white;
  background: var(--branding-color);
}
.email-link:hover {
  color: var(--branding-color);
}

li a:hover,
li a.active {
  color: var(--branding-color);
}
@media (max-width: 768px) {
  h1 {
    font-size: 44px;
    text-align: center;
  }
  .text-wrapper {
    text-align: center;
    padding: 30px 0;
  }

  .content-container {
    padding: 0;
    text-align: center;
  }
  li a {
    font-size: 14px;
  }
}
